[user]
	name = Manuel Ohlendorf
	email = moh@icnh.de
[credential]
  helper = osxkeychain
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  dt = difftool
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[diff]
  tool = vimdiff
  renamelimit = 0
[difftool "vimdiff"]
  cmd = vimdiff $LOCAL $REMOTE
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  cmd = vimdiff $LOCAL $REMOTE

[core]
	excludesfile = /Users/moh/.gitignore
	autocrlf = input
	trustctime = false
	editor = vim
[push]
	default = matching
[branch]
	autosetuprebase = always
[grep]
	extendRegexp = true
	lineNumber = true
[svn]
	rmdir = true
